// 暗色主题
@import url('element-plus/theme-chalk/dark/css-vars.css');

:root {
  --el-border-radius: 3px;
  --el-menu-item-height: 46px !important;
  --el-menu-hover-bg-color: #f3f3f5 !important;
  --el-menu-active-bg-color:#eee !important;
}

html.dark {
  --el-menu-hover-bg-color: #3c3c3c !important;
  --el-menu-active-bg-color: #333 !important;
}
