:root {
  --el-border-radius: 3px;
  --el-menu-item-height: 46px !important;
  --el-menu-hover-bg-color: rgb(243 243 245) !important;
}

html.dark {
  :root {
    --el-menu-hover-bg-color: rgb(255 255 255 / 9%) !important;
  }
}
