:root {
  --hb-tab-hover-bg-color: #dee1e6;
  --hb-tab-active-bg-color: #f0f0ff;
  --hb-tab-active-color: #646cff;
  --hb-icon-close-hover-color: #9ca3af;
  --hb-icon-close-active-color: #1890ff;
}

html.dark {
  --hb-tab-hover-bg-color: #333;
  --hb-tab-active-bg-color: #3b3d5b;
}
