// @use 'variables';
@use 'transitions';
// @use 'theme';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

html.dark {
  ::-webkit-scrollbar-track {
    background-color: #27272a;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }
}
